/* Style */
@font-face {
   font-family: "the dead saloon";
   src: url(./font/thedeadsaloon-Regular.ttf);
}
@font-face {
   font-family: "Lato";
   src: url(./font/Lato-Regular.ttf);
}
@font-face {
   font-family: "Lato gra";
   src: url(./font/Lato-Bold.ttf);
}
* {
   padding: 0;
   margin: 0;
  }

body {
    background: aliceblue;
    margin: 0;
}

header {
    background: rgba(207, 207, 207, 0.726);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.haut {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 130px;
    padding: 0 20px;
}

.haut .logo {
    width: 150px;
}
.haut .hamburger {
  display: none;
  width: 40px;
  margin-right: 10%;
}
.nav.mobile {
   left: 0;
 }
 .no-scroll {
   overflow: hidden;
   position: fixed;
   width: 100%;
   height: 100%;
}
.nav {
   list-style: none;
   display: flex;
   margin-left: auto;
  }

.nav a {
   color: rgb(36, 36, 36);
   text-decoration: none;
   font-family: "Lato gra";
   font-weight: 500;
   font-size: 1.5em;
}
.nav li {
   padding: 21px;
   margin-right: 10px;
}
.nav li:hover {
   transform: scale(1.3);
}
.nav a:hover {
  color: #6e4d4d;
}


.presentation {
    display: flex;
    align-items: center;
    padding-top: 170px;
}

.presentation img {
    width: 550px;
}

.presentation h1 {
    font-family: "the dead saloon";
    font-weight: bold;
    color: #6e4d4d;
    font-size: 3.5rem;
    text-align: center;
}

.presentation p {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 0 25px;
}


.produits {
    padding-top: 170px;
}
.produits h2 {
  text-align: center;
}



.horaire {
    text-align: center;
    padding-top: 170px;
    padding-bottom: 170px;
  }
  
  .horaire table {
    width: 100%;
    max-width: 600px;
    border-collapse: separate;
    margin: 20px auto;
  }
  
  .horaire th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #14131398;
  }
  
  .horaire .jour {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #161616;
    border-right: 1px solid #14131398;
    padding-right: 15px; 
  }
  
  .horaire .heure {
    font-family: "Lato", sans-serif;
    color: #292828;
  }


  .contact {
    display: flex;
    justify-content: center;
    background-color: rgba(31, 34, 34, 0.945);
    padding-top: 45px;
    padding-bottom: 50px;
  }
  .contact .facebook,
  .contact .téléphone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; 
  }
  .contact .facebook img, 
  .contact .téléphone img {
    width: 70px;
    height:70px
  }
  .contact .facebook p,
  .contact .téléphone p {
    color: azure;
    text-align: center;
    padding-top: 5px;
    margin: 0
  }

  .contact .téléphone {
    padding-left: 42px;
  }
  .contact .téléphone p {
    letter-spacing: 1.5px;
  }